In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/pre/MELBOURNE_HOUSE_PRICES_LESS.csv')
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

## Label Encoding

In [3]:
data.select_dtypes(exclude=['object'])

       Rooms      Price  Postcode  Propertycount  Distance
0          3  1490000.0      3067           4019       3.0
1          3  1220000.0      3067           4019       3.0
2          3  1420000.0      3067           4019       3.0
3          3  1515000.0      3040           1543       7.5
4          2   670000.0      3042           3464      10.4
5          2   530000.0      3042           3464      10.4
6          2   540000.0      3042           3464      10.4
7          3   715000.0      3042           3464      10.4
8          6        NaN      3021           1899      14.0
9          3  1925000.0      3206           3280       3.0
10         3   515000.0      3020           2185      10.5
11         4   717000.0      3020           2185      10.5
12         2  1675000.0      3078           2211       5.7
13         4  2008000.0      3078           2211       5.7
14         2   860000.0      3018           5301      11.0
15         4        NaN      3028           7630      15.5
16         3   720000.0      3025           5132       9.4
17         2   836000.0      3143           4836       6.3
18         2  2110000.0      3143           4836       6.3
19         3  1386000.0      3143           4836       6.3
20         2   580000.0      3143           4836       6.3
21         1   355000.0      3143           4836       6.3
22         3  1123100.0      3032           6567       4.3
23         3  1270000.0      3147           3052      10.2
24         4        NaN      3147           3052      10.2
25         3  1610000.0      3147           3052      10.2
26         4  1435000.0      3147           2894      10.2
27         4  1431000.0      3195           2824      21.5
28         4   996000.0      3195           2243      21.5
29         4        NaN      3049           1130      16.5
...      ...        ...       ...            ...       ...
62993      2  1000000.0      3181           4380       4.6
62994      3   640000.0      3750           2940      25.5
62995      4   520600.0      3750           2940      25.5
62996      3        NaN      3115           1328      25.2
62997      3   410000.0      3024           5262      27.2
62998      3   400000.0      3024           5262      27.2
62999      5        NaN      3024           5262      27.2
63000      3   416000.0      3024           5262      27.2
63001      3        NaN      3024           5262      27.2
63002      3   745000.0      3085           1369      12.7
63003      3   655000.0      3085           1369      12.7
63004      2   870000.0      3013           6543       6.3
63005      2   495000.0      3013           6543       6.3
63006      3  1000000.0      3013           6543       6.3
63007      2   410000.0      3013           6543       6.3
63008      3        NaN      3013           6543       6.3
63009      3   736000.0      3153           5030      23.2
63010      4        NaN      3125           5678      10.4
63011      3   595000.0      3177           3533      28.8
63012      2   375000.0      3199          17055      38.0
63013      5   710000.0      3199          17055      38.0
63014      2   345000.0      3199          17055      38.0
63015      2   340000.0      3199          17055      38.0
63016      2   347700.0      3199          17055      38.0
63017      3   808000.0      3072          14577       8.4
63018      3   566000.0      3064           5833      20.6
63019      3   500000.0      3064           5833      20.6
63020      3   545000.0      3064           5833      20.6
63021      3        NaN      3074           7955      15.3
63022      4        NaN      3027           1999      17.6

[63023 rows x 5 columns]

In [4]:
from sklearn.preprocessing import LabelEncoder
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

In [5]:
label_encoder = LabelEncoder()
test = label_encoder.fit_transform(data.Suburb)

## one hot

In [6]:
from sklearn.preprocessing import OneHotEncoder

In [7]:
OH_encoder = OneHotEncoder(sparse = False)
test2 = OH_encoder.fit_transform(pd.get_dummies(data.Suburb))
print(test2.shape)

(63023, 760)

In [8]:
print(pd.get_dummies(data.Suburb))

       Abbotsford  Aberfeldie  Airport West  Albanvale  Albert Park  Albion  \
0               1           0             0          0            0       0
1               1           0             0          0            0       0
2               1           0             0          0            0       0
3               0           1             0          0            0       0
4               0           0             1          0            0       0
5               0           0             1          0            0       0
6               0           0             1          0            0       0
7               0           0             1          0            0       0
8               0           0             0          1            0       0
9               0           0             0          0            1       0
10              0           0             0          0            0       1
11              0           0             0          0            0       1
12              0           0             0          0            0       0
13              0           0             0          0            0       0
14              0           0             0          0            0       0
15              0           0             0          0            0       0
16              0           0             0          0            0       0
17              0           0             0          0            0       0
18              0           0             0          0            0       0
19              0           0             0          0            0       0
20              0           0             0          0            0       0
21              0           0             0          0            0       0
22              0           0             0          0            0       0
23              0           0             0          0            0       0
24              0           0             0          0            0       0
25              0           0             0          0            0       0
26              0           0             0          0            0       0
27              0           0             0          0            0       0
28              0           0             0          0            0       0
29              0           0             0          0            0       0
...           ...         ...           ...        ...          ...     ...
62993           0           0             0          0            0       0
62994           0           0             0          0            0       0
62995           0           0             0          0            0       0
62996           0           0             0          0            0       0
62997           0           0             0          0            0       0
62998           0           0             0          0            0       0
62999           0           0             0          0            0       0
63000           0           0             0          0            0       0
63001           0           0             0          0            0       0
63002           0           0             0          0            0       0
63003           0           0             0          0            0       0
63004           0           0             0          0            0       0
63005           0           0             0          0            0       0
63006           0           0             0          0            0       0
63007           0           0             0          0            0       0
63008           0           0             0          0            0       0
63009           0           0             0          0            0       0
63010           0           0             0          0            0       0
63011           0           0             0          0            0       0
63012           0           0             0          0            0       0
63013           0           0             0          0            0       0
63014           0           0             0          0            0       0
63015           0           0             0          0            0       0
63016           0           0             0          0            0       0
63017           0           0             0          0            0       0
63018           0           0             0          0            0       0
63019           0           0             0          0            0       0
63020           0           0             0          0            0       0
63021           0           0             0          0            0       0
63022           0           0             0          0            0       0

       Alphington  Altona  Altona Meadows  Altona North    ...     \
0               0       0               0             0    ...
1               0       0               0             0    ...
2               0       0               0             0    ...
3               0       0               0             0    ...
4               0       0               0             0    ...
5               0       0               0             0    ...
6               0       0               0             0    ...
7               0       0               0             0    ...
8               0       0               0             0    ...
9               0       0               0             0    ...
10              0       0               0             0    ...
11              0       0               0             0    ...
12              1       0               0             0    ...
13              1       0               0             0    ...
14              0       1               0             0    ...
15              0       0               1             0    ...
16              0       0               0             1    ...
17              0       0               0             0    ...
18              0       0               0             0    ...
19              0       0               0             0    ...
20              0       0               0             0    ...
21              0       0               0             0    ...
22              0       0               0             0    ...
23              0       0               0             0    ...
24              0       0               0             0    ...
25              0       0               0             0    ...
26              0       0               0             0    ...
27              0       0               0             0    ...
28              0       0               0             0    ...
29              0       0               0             0    ...
...           ...     ...             ...           ...    ...
62993           0       0               0             0    ...
62994           0       0               0             0    ...
62995           0       0               0             0    ...
62996           0       0               0             0    ...
62997           0       0               0             0    ...
62998           0       0               0             0    ...
62999           0       0               0             0    ...
63000           0       0               0             0    ...
63001           0       0               0             0    ...
63002           0       0               0             0    ...
63003           0       0               0             0    ...
63004           0       0               0             0    ...
63005           0       0               0             0    ...
63006           0       0               0             0    ...
63007           0       0               0             0    ...
63008           0       0               0             0    ...
63009           0       0               0             0    ...
63010           0       0               0             0    ...
63011           0       0               0             0    ...
63012           0       0               0             0    ...
63013           0       0               0             0    ...
63014           0       0               0             0    ...
63015           0       0               0             0    ...
63016           0       0               0             0    ...
63017           0       0               0             0    ...
63018           0       0               0             0    ...
63019           0       0               0             0    ...
63020           0       0               0             0    ...
63021           0       0               0             0    ...
63022           0       0               0             0    ...

       Woori Yallock  Wyndham Vale  Yallambie  Yan Yean  Yarra Glen  \
0                  0             0          0         0           0
1                  0             0          0         0           0
2                  0             0          0         0           0
3                  0             0          0         0           0
4                  0             0          0         0           0
5                  0             0          0         0           0
6                  0             0          0         0           0
7                  0             0          0         0           0
8                  0             0          0         0           0
9                  0             0          0         0           0
10                 0             0          0         0           0
11                 0             0          0         0           0
12                 0             0          0         0           0
13                 0             0          0         0           0
14                 0             0          0         0           0
15                 0             0          0         0           0
16                 0             0          0         0           0
17                 0             0          0         0           0
18                 0             0          0         0           0
19                 0             0          0         0           0
20                 0             0          0         0           0
21                 0             0          0         0           0
22                 0             0          0         0           0
23                 0             0          0         0           0
24                 0             0          0         0           0
25                 0             0          0         0           0
26                 0             0          0         0           0
27                 0             0          0         0           0
28                 0             0          0         0           0
29                 0             0          0         0           0
...              ...           ...        ...       ...         ...
62993              0             0          0         0           0
62994              0             0          0         0           0
62995              0             0          0         0           0
62996              0             0          0         0           0
62997              0             1          0         0           0
62998              0             1          0         0           0
62999              0             1          0         0           0
63000              0             1          0         0           0
63001              0             1          0         0           0
63002              0             0          1         0           0
63003              0             0          1         0           0
63004              0             0          0         0           0
63005              0             0          0         0           0
63006              0             0          0         0           0
63007              0             0          0         0           0
63008              0             0          0         0           0
63009              0             0          0         0           0
63010              0             0          0         0           0
63011              0             0          0         0           0
63012              0             0          0         0           0
63013              0             0          0         0           0
63014              0             0          0         0           0
63015              0             0          0         0           0
63016              0             0          0         0           0
63017              0             0          0         0           0
63018              0             0          0         0           0
63019              0             0          0         0           0
63020              0             0          0         0           0
63021              0             0          0         0           0
63022              0             0          0         0           0

       Yarra Junction  Yarrambat  Yarraville  croydon  viewbank
0                   0          0           0        0         0
1                   0          0           0        0         0
2                   0          0           0        0         0
3                   0          0           0        0         0
4                   0          0           0        0         0
5                   0          0           0        0         0
6                   0          0           0        0         0
7                   0          0           0        0         0
8                   0          0           0        0         0
9                   0          0           0        0         0
10                  0          0           0        0         0
11                  0          0           0        0         0
12                  0          0           0        0         0
13                  0          0           0        0         0
14                  0          0           0        0         0
15                  0          0           0        0         0
16                  0          0           0        0         0
17                  0          0           0        0         0
18                  0          0           0        0         0
19                  0          0           0        0         0
20                  0          0           0        0         0
21                  0          0           0        0         0
22                  0          0           0        0         0
23                  0          0           0        0         0
24                  0          0           0        0         0
25                  0          0           0        0         0
26                  0          0           0        0         0
27                  0          0           0        0         0
28                  0          0           0        0         0
29                  0          0           0        0         0
...               ...        ...         ...      ...       ...
62993               0          0           0        0         0
62994               0          0           0        0         0
62995               0          0           0        0         0
62996               0          0           0        0         0
62997               0          0           0        0         0
62998               0          0           0        0         0
62999               0          0           0        0         0
63000               0          0           0        0         0
63001               0          0           0        0         0
63002               0          0           0        0         0
63003               0          0           0        0         0
63004               0          0           1        0         0
63005               0          0           1        0         0
63006               0          0           1        0         0
63007               0          0           1        0         0
63008               0          0           1        0         0
63009               0          0           0        0         0
63010               0          0           0        0         0
63011               0          0           0        0         0
63012               0          0           0        0         0
63013               0          0           0        0         0
63014               0          0           0        0         0
63015               0          0           0        0         0
63016               0          0           0        0         0
63017               0          0           0        0         0
63018               0          0           0        0         0
63019               0          0           0        0         0
63020               0          0           0        0         0
63021               0          0           0        0         0
63022               0          0           0        0         0

[63023 rows x 380 columns]